<htmlxmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Purchase a Ticket</title>
</head>
<body>
<form th:object="${ticket}" th:action="@{/confirmPurchase} "method='POST'>
Owner Email: <input name="ownerEmail" size="20" th:field="*{ownerEmail}"> <br />
Number of Tickets: <input name="admissions" size="2" th:field="*{admissions}"> <br />
<input type="hidden" name="eventId" size="10" value= "152" th:field="*{eventId}">



<input name="submit "type="submit" value="submit"/>
</form>
<a href="plannerViewAll">View all Events</a>
</body>
</html>