<htmlxmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Purchase Confirmation</title>
</head>
<body>
<form>
<table border ="2">
<tr><td>Ticket Code</td><td>Event Code</td><td>Admissions</td><td>Owner Email</td></tr>
<tr th:each="currentTicket : ${ticket}">
<td th:text="${currentTicket.id}"/>
<td th:text="${currentTicket.eventId}"/>
<td th:text="${currentTicket.admissions}"/>
<td th:text="${currentTicket.ownerEmail}"/>


<tr><td><a href="customerViewAll"> Buy Tickets</a></td>
		<td><a href="myEvents"> My Events</a></td></tr>
</body>
</html>